{% extends 'base.html.twig' %}

{% block body %}
    <h1>ClimbingRoute list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Createdat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for climbingRoute in climbingRoutes %}
            <tr>
                <td><a href="{{ path('climbingroute_show', { 'id': climbingRoute.id }) }}">{{ climbingRoute.id }}</a></td>
                <td>{{ climbingRoute.name }}</td>
                <td>{% if climbingRoute.createdAt %}{{ climbingRoute.createdAt|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('climbingroute_show', { 'id': climbingRoute.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('climbingroute_edit', { 'id': climbingRoute.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('climbingroute_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
