{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ascent list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Createdat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ascent in ascents %}
            <tr>
                <td><a href="{{ path('ascent_show', { 'id': ascent.id }) }}">{{ ascent.id }}</a></td>
                <td>{% if ascent.createdAt %}{{ ascent.createdAt|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ascent_show', { 'id': ascent.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ascent_edit', { 'id': ascent.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ascent_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
