{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ascent</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ascent.id }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if ascent.createdAt %}{{ ascent.createdAt|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ascent_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ascent_edit', { 'id': ascent.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
